# Application generated
node_modules
NS-RPC-darwin-x64
NS-RPC-win32-x64
NS-RPC-source-built-installers
NS-RPC.dmg

# System generated
.DS_STORE

# Project meta - they're part of the app and build process!
#icon.icns
#icon.ico
#install.gif 
#build.js
# ^^^^^^^ Not sure on this one. What's in it?

# Development meta
#.eslintrc.js # Let us have your lint settings!

# Dependencies
#bulma.css # We can redistribute this, since both projects are MIT licensed
